.box-container,
.box-container2,
.box-container3 {
    /* justify-content: center; */
    margin-top: 25px;
    margin-left: 165px;
    /* display: inline-block;
    box-sizing: border-box; */
}

.box {
    margin: 8px;
    display: inline-block;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    padding-top: 6px;
    padding-left: 6px;
    height: 200px;
    width: 300px;
}

.box1,
.box5,
.box9 {
    height: 200px;
    width: 500px;
}

.box1 {
    background-color: rgb(238, 81, 71);
}

.box2 {
    background-color: rgb(2, 89, 68);
}

.box3 {
    background-color: rgb(182, 9, 185);
}

.box4 {
    background-color: rgb(3, 255, 242);
}

.box5 {
    background-color: rgb(80, 206, 74);
}

.box6 {
    background-color: rgb(28, 157, 28);
}

.box7 {
    background-color: rgb(254, 254, 0);
}

.box8 {
    background-color: rgb(254, 165, 0);
}

.box9 {
    background-color: rgb(254, 0, 0);
}